<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

body {
  /* font-family: Choco Berry; */
  font-family: Tahoma;
}  
.welcome {
   font-size: 60px;
   border: 20px ;
   color: #89E900;
   font-family: Courier New;
   padding: 422px;
   text-align: center;
   /*background-color: #89E900; */
   
   /* Background Image or gif*/
   background-image: url('SuS.gif');
   background-position: center;
   background-repeat: no-repeat;
   background-size: 1700px 912px ;
}
